---
import TodoList from '../components/TodoList.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js"
      integrity="sha512-2kIcAizYXhIn8TzUvqzEDZNuDZ+aW7yE/+f1HJHXFjQcGNfv1kqzJSTBRBSlOgp6B/KZsz1K0a3ZTqP9dnxioQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
  </head>
  <body class="min-h-screen bg-gray-100">
    <TodoList />
  </body>
</html>
