---
// src/components/TodoList.astro
import { getTodos, deleteTodo } from '../lib/todo';
import TodoItem from './TodoItem.astro'; 

const todos = await getTodos();
---
<div>
  <form id="add-todo-form" hx-post="/api/todos" hx-target="#todo-list-container" hx-swap="beforeend">
    <input type="text" name="text" id="new-todo-text" placeholder="Add a new todo" required>
    <button type="submit">Add Todo</button>
  </form>
  <ul id="todo-list-container">
    {todos.map(todo => (
        <TodoItem todo={todo} /> 
    ))}
  </ul>
</div>
